body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.banner {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 375px;
    height: 250px;
    z-index: 1000;
    opacity: 0;
    transition: 1s;
}

.overlay{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 375px;
    height: 250px;
    z-index: 2000;
    background: transparent;
    transition:.3s;
    display: none;
}

.overlay:hover{
    transition:.3s;
    transform: scale(.98);
}

.banner iframe {
    width: 100%;
    height: 100%;
    cursor: pointer;
}




.sec{
    height: 1000px;
}

.red, .blue, .green{
    border: 5px solid;
}

.red{
    border-color: red;
}

.blue{
    border-color: blue;
}

.green{
    border-color: green;
}

.aa{
    width: 500px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid red;
    margin: auto;
    transition: .3s;
}

.aa:hover{
    transform: scale(.97);
    transition: .3s;
}